html{background-color:orange;height: 100vh}

body{min-height: 100vh;margin:0;}

h1{color:orangered;
  text-align: center;
  text-decoration: underline ;}

h2{display: flex;
    background-color: bisque; font-size: xx-large;
    min-height: 100px;
    border: solid black;
    box-sizing:border-box;
    width:20%;
    margin: 20px;
    padding: 10px}


h3{font-size: larger;}

img {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    width: 25%;
    padding: 20px;
  }

#CannedAndDry{display:flex;
flex-direction:row;}

#canned{display:inline-block;
margin: 0;
min-height: 400px;
margin-bottom: 10px;
flex-direction: row;
background-color: gainsboro;
min-height: 100px;
box-sizing: border-box;
border: solid black;
padding: 20px}

#dry{display:inline-block;
  margin: 0;
  min-height: 100px;
  margin-bottom: 10px;
  flex-direction: row;
  background-color: gainsboro;
  min-height: 100px;
  box-sizing: border-box;
  border: solid black;
  padding: 20px}

#VeggiesAndSnacks{display:flex;
  flex-direction:row;}

#veggies{display:inline-block;
  margin: 0;
  min-height: 400px;
  margin-bottom: 10px;
  flex-direction: row;
  background-color: gainsboro;
  min-height: 100px;
  box-sizing: border-box;
  border: solid black;
  padding: 20px}

  #snacks{display:inline-block;
    margin: 0;
    min-height: 400px;
    margin-bottom: 10px;
    flex-direction: row;
    background-color: gainsboro;
    min-height: 100px;
    box-sizing: border-box;
    border: solid black;
    padding: 20px}
